body{
    background-image: url(./pexels-photo-747964.jpeg);
    color: rgb(240, 12, 31);
    margin: auto;
    padding: auto;
    text-align: center;
    font-size: larger;
}                       